<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    </head>
    <body>  
        <h1>DoH U</h1>
        <form action="/" method="get">
            <input type="text" name="skill_name_serch" placeholder="Skill you want to search">
            <input type="submit" value="Search">
        </form>
        {% if skill_name %}
            <h2>Search Results for "{{skill_name}}"</h2>

            {% for site_name, site_data in data.items() %}
                <div>
                    <h3>Site : {{site_name}}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Job Title</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for company, job_title, job_link in zip(site_data.company, site_data.job_title, site_data.job_link) %}
                                <tr>
                                    <td>{{company}}</td>
                                    <td>{{job_title}}</td>
                                    <td>
                                        <a href="{{ job_link }}" target="_blank">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>